---
---
$primary-text-color: #000;
$primary-background-color: #e5e5e5;

@mixin fading-underline($color){
	border-bottom: 1px solid rgba($color, 0);
	-webkit-transition: border $fade-time ease;
	-moz-transition: border $fade-time ease;
	-ms-transition: border $fade-time ease;
	-o-transition: border $fade-time ease;
	transition: border $fade-time ease; 
	&:hover{border-bottom: 1px solid rgba($color, 1);}
}

html{
	font-family: roboto;
}


body{
	font-family: 'Open Sans', sans-serif;
	background-color: $primary-background-color;
	color: $primary-text-color;
	text-align: center;
	margin: 0px;
	}	
p{
	margin-left: 4px;
	margin-right: 4px;
}