---
---
$primary-text-color: #000;
$primary-background-color: #FFF;

$header-background-color: #002147;
$header-text-color: #FFF;

$fade-time: 500ms;


@mixin fading-underline($color){
	border-bottom: 1px solid rgba($color, 0);
	-webkit-transition: border $fade-time ease;
	-moz-transition: border $fade-time ease;
	-ms-transition: border $fade-time ease;
	-o-transition: border $fade-time ease;
	transition: border $fade-time ease;
	&:hover{border-bottom: 1px solid rgba($color, 1);}
}

html{
	font-family: roboto;
}


body{
	font-family: 'Open Sans', sans-serif;
	background-color: $primary-background-color;
	color: $primary-text-color;
	text-align: center;
	margin: 0px;
	}
p{
	margin-left: 4px;
	margin-right: 4px;
}



ul{
	list-style-type: none;
}

li{
	padding: 5px;
}


// Top-Nav

#top-nav{
	position: relative;
	background-color: $header-background-color;
	background-image: url(images/banner-bg.png);
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
	height: 150px;
	a{
		text-decoration: none;
		color: $header-text-color;
		@include fading-underline($header-text-color);
	}
}

#top-nav > ul{
	position: absolute;
	bottom: 0;
	padding-left: 10px;
	margin-bottom: 5px;
	display: inline;
}

#top-nav li{
	display: inline-block;


}
