---
---
$primary-text-color: #000;
$primary-background-color: #e5e5e5;

$header-background-color: #002147;
$header-text-color: #e5e5e5;

$fade-time: 500ms;

$footer-height: 80px;


@mixin fading-underline($color){
	border-bottom: 1px solid rgba($color, 0);
	-webkit-transition: border $fade-time ease;
	-moz-transition: border $fade-time ease;
	-ms-transition: border $fade-time ease;
	-o-transition: border $fade-time ease;
	transition: border $fade-time ease;
	&:hover{border-bottom: 1px solid rgba($color, 1);}
}

html{
	font-family: roboto;
	height: 100%;
}


body{
	font-family: 'Open Sans', sans-serif;
	background-color: $primary-background-color;
	color: $primary-text-color;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

a{
	text-decoration: none;
	color: $primary-text-color;
	@include fading-underline($primary-text-color);
}

p{
	margin-left: 4px;
	margin-right: 4px;
}



ul{
	list-style-type: decimal;
}

li{
	padding: 5px;
}


#wrapper{
	min-height: 100%;
	position: relative;
}

#content{
	padding: 10px;
	padding-bottom: $footer-height;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

// Top-Nav

#top-nav{
	position: relative;
	background-color: $header-background-color;
	background-image: url(images/banner-bg.png);
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
	height: 150px;
	a{
		text-decoration: none;
		color: $header-text-color;
		@include fading-underline($header-text-color);
	}
}

#top-nav > ul{
	position: absolute;
	bottom: 0;
	padding-left: 10px;
	margin-bottom: 5px;
	display: inline;
}

#top-nav li{
	display: inline-block;
}

#top-nav .active a{
	border-bottom: 1px solid rgba($header-text-color, 1);
}

#footer{
	position: absolute;
	bottom: 0px;
	background-color: $header-background-color;
	color: $header-text-color;
	width: 100%;
	height: $footer-height;
	text-align: center;
	a{
		text-decoration: none;
		color: $header-text-color;
		@include fading-underline($header-text-color);
	}
}
