---
title: Teaching
heading: Teaching
---

<p>I hold a stipendiary lectureship in applied mathematics at Lady Margaret Hall, University of Oxford.  The courses that I am currently tutoring there are:</p>
<ul id="courses">

{% assign title1 = 0 %}
{% assign title2 = 0 %}
{% assign title3 = 0 %}
{% assign title4 = 0 %}
{% for entry in site.data.teaching %}
  {% if entry.year == 1 %}
    {% if title1 == 0 %}
      <li>Prelims (first year)</li>
      <ul>
      {% assign title1 = 1 %}
    {% endif %}
  {% endif %}
  {% if entry.year == 2 %}
    {% if title2 == 0 %}
      </ul>
      <li>Part A (second year)</li>
      <ul>
      {% assign title2 = 1 %}
    {% endif %}
  {% endif %}
  {% if entry.year == 3 %}
    {% if title3 == 0 %}
      </ul>
      <li>Part B (third year)</li>
      <ul>
      {% assign title3 = 1 %}
    {% endif %}
  {% endif %}
  {% if entry.year == 4 %}
    {% if title4 == 0 %}
      </ul>
      <li>Part C (fourth year)</li>
      <ul>
      {% assign title4 = 1 %}
    {% endif %}
  {% endif %}
  <li><a href="http://www0.maths.ox.ac.uk/courses/course/{{ entry.courseNumber }}" target="_blank">{{ entry.name }}</a></li>
{% endfor %}
  </ul>
</ul>


<p>I have also tutored a number of other applied mathematics courses on the Oxford undergraduate syllabus, and co-supervised undergraduate dissertations and summer projects.</p>

<p>Every year, I deliver mathematical epidemiology lectures on the Wellcome Trust Mathematical Models for Infectious Disease Dynamics course in Cambridge.</p>

<p>In the past I have supervised part IA Mathematical Biology in Cambridge, as well as lecturing and running
the associated practical component for part of the course (Matrix Modelling and Applications, Easter term).
I have also held a non-stipendiary applied mathematics lectureship at Worcester College,
Oxford (also where I studied when I was an undergraduate!) </p>
